/* Default styles for larger screens */
* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.banner {
  display: flex;
  padding: 1px;
  background-color: rgb(250, 249, 247);
}

.banner-pic,
.banner-text {
  flex: 1;
  padding: 15px;
}

.banner-pic img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111111;
}

.banner-text h5 {
  font-size: 1.06rem;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
}

.banner-text h1 {
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 20px;
  vertical-align: baseline;
}

.banner-text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.button1 {
  padding: 10px 80px;
  background-color: rgb(106, 151, 57);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button1:hover {
  background-color: rgb(113, 160, 60);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .banner-pic,
  .banner-text {
    width: 100%;
  }

  .banner-pic img {
    width: 100%;
    height: auto;
  }
}

.features {
  background-color: #111111;
  /* display: flex;
  z-index: 2;
  position: relative; */
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  justify-content: center;
  margin: auto;
  padding-left: 100px;
  /* padding: 10px ; */


}

.f1 {
  padding-left: 10rem;
  padding-top: 20px;
  background-color: #484848;
  border-radius: 3px;
}

.f2 {
  /* Adjust spacing as needed */
  margin-left: 15px;
}

.f4 {
  margin-left: auto;
  background-color: red;
  padding: 10px 20px 30px 20px;
  border-radius: 3px;
}

/* Add styles for the red background card */
