.section{
  background-color: aqua;  
}
.intro-data,.common-heading{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700px;
    /* font-display: ; */
    align-items:center;

}
.card{
    display: flex;
    display-direction:row;
}
.img1{
    height: 20rem;
    width: 10rem;
}