.section{
    background-color: rgb(250, 249, 247);

}
.container{
    background-color: rgb(250, 249, 247);


}
.intro-data,.common-heading{
    color: black;
    background-color: rgb(250, 249, 247);

    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.gird gird-three-column{
    display: flex;
}
.card{
    display:flex;

}
.main{
    display: flex;
    flex-direction: row;
}
.img1{
    height: 10rem;
    width: 0 auto;
}



.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  